Repository syncArt/smileyball: changes, and which lefthook commands are due for each by the changed paths.
All: cargo_fmt, cargo_clippy, lint_frontend, prettier_frontend

cargo_fmt:
  run: cargo fmt --all

cargo_clippy:
  run: cargo clippy --all-targets --all-features -- -D warnings

lint_frontend:
  run: npm run lint

prettier_frontend:
  run: npm run prettier --write

feat: config lefthook
  lefthook.yml
  package.json
  src/smileyball_backend/src/lib.rs
Due: cargo_fmt, cargo_clippy

feat: config lefthook
  package.json
  src/smileyball_frontend/src/components/PageMenu.tsx
  src/smileyball_frontend/src/hooks/contests/index.ts
  src/smileyball_frontend/src/hooks/contests/useGetAllContests.ts
  src/smileyball_frontend/src/hooks/contests/useLastContest.tsx
  src/smileyball_frontend/src/hooks/index.ts
  src/smileyball_frontend/src/modules/contestPage/ContestListItem.tsx
  src/smileyball_frontend/src/modules/contestPage/CreateContestForm.tsx
Due: lint_frontend, prettier_frontend

feat: add management init and generate candid for multiple entities
  Cargo.lock
  package.json
  src/smileyball_backend/src/contest/model.rs
  src/smileyball_backend/src/contest/router.rs
  src/smileyball_backend/src/lib.rs
  src/smileyball_backend/src/management/mod.rs
  src/smileyball_backend/src/management/model.rs
  src/smileyball_backend/src/management/repository.rs
  src/smileyball_backend/src/management/router.rs
  src/smileyball_backend/src/management/service.rs
  src/smileyball_backend/test.did
Due: cargo_fmt, cargo_clippy

feat: endpoints naming and contest model extended
  src/smileyball_backend/smileyball_backend.did
  src/smileyball_backend/src/contest/model.rs
  src/smileyball_backend/src/contest/router.rs
  src/smileyball_backend/src/contest/service.rs
  src/smileyball_backend/src/lib.rs
  src/smileyball_backend/src/management/router.rs
Due: cargo_fmt, cargo_clippy

feat: refactor and working contest stepper
  src/smileyball_backend/smileyball_backend.did
  src/smileyball_backend/src/contest/manager/contest_manager.rs
  src/smileyball_backend/src/contest/manager/finalization_manager.rs
  src/smileyball_backend/src/contest/manager/lobby_manager.rs
  src/smileyball_backend/src/contest/manager/mod.rs
  src/smileyball_backend/src/contest/manager/vote_manager.rs
  src/smileyball_backend/src/contest/mod.rs
  src/smileyball_backend/src/contest/model.rs
  src/smileyball_backend/src/contest/model/contest.rs
  src/smileyball_backend/src/contest/model/error.rs
  src/smileyball_backend/src/contest/model/mod.rs
  src/smileyball_backend/src/contest/model/stage.rs
  src/smileyball_backend/src/contest/model/vote.rs
  src/smileyball_backend/src/contest/repository.rs
  src/smileyball_backend/src/contest/router.rs
  src/smileyball_backend/src/contest/service.rs
  src/smileyball_backend/src/contest/service/contest_service.rs
  src/smileyball_backend/src/contest/service/mod.rs
  src/smileyball_backend/src/contest/service/vote_service.rs
  src/smileyball_backend/src/lib.rs
  src/smileyball_backend/src/management/model.rs
  src/smileyball_backend/src/management/repository.rs
  src/smileyball_backend/src/management/router.rs
  src/smileyball_backend/src/management/service.rs
  src/smileyball_backend/src/utils.rs
Due: cargo_fmt, cargo_clippy

feat: separate song_service from other
  src/smileyball_backend/smileyball_backend.did
  src/smileyball_backend/src/contest/router.rs
  src/smileyball_backend/src/contest/service/contest_service.rs
  src/smileyball_backend/src/contest/service/mod.rs
  src/smileyball_backend/src/contest/service/song_service.rs
Due: cargo_fmt, cargo_clippy

feat: feat add validators
  src/smileyball_backend/smileyball_backend.did
  src/smileyball_backend/src/contest/constants.rs
  src/smileyball_backend/src/contest/manager/contest_manager.rs
  src/smileyball_backend/src/contest/mod.rs
  src/smileyball_backend/src/contest/model/contest.rs
  src/smileyball_backend/src/contest/model/error.rs
  src/smileyball_backend/src/contest/service/contest_service.rs
  src/smileyball_backend/src/lib.rs
  src/smileyball_backend/src/management/model.rs
  src/smileyball_backend/src/management/repository.rs
  src/smileyball_backend/src/management/router.rs
  src/smileyball_backend/src/management/service.rs
Due: cargo_fmt, cargo_clippy

feat: create contest frontend extended
  src/smileyball_frontend/eslint.config.js
  src/smileyball_frontend/src/assets/images/hamburger-menu-arrow.svg
  src/smileyball_frontend/src/assets/images/long-arrow-stepper.svg
  src/smileyball_frontend/src/components/PageMenu.tsx
  src/smileyball_frontend/src/components/SpotifyAuth.tsx
  src/smileyball_frontend/src/components/SpotifySong.tsx
  src/smileyball_frontend/src/components/form/Checkbox.tsx
  src/smileyball_frontend/src/components/form/Input.tsx
  src/smileyball_frontend/src/components/form/Label.tsx
  src/smileyball_frontend/src/components/form/Textarea.tsx
  src/smileyball_frontend/src/components/form/index.ts
  src/smileyball_frontend/src/components/index.tsx
  src/smileyball_frontend/src/hooks/contests/index.ts
  src/smileyball_frontend/src/hooks/contests/useCreateContest.ts
  src/smileyball_frontend/src/hooks/contests/useLastContest.ts
  src/smileyball_frontend/src/hooks/index.ts
  src/smileyball_frontend/src/hooks/useSpotifyAuth.ts
  src/smileyball_frontend/src/hooks/useSpotifyLink.ts
  src/smileyball_frontend/src/hooks/useSpotifyTrackList.ts
  src/smileyball_frontend/src/modules/contestPage/AddSongs.tsx
  src/smileyball_frontend/src/modules/contestPage/CreateContestForm.tsx
  src/smileyball_frontend/src/pages/SpotifyAuthCallback.tsx
  src/smileyball_frontend/src/router.tsx
  src/smileyball_frontend/src/scripts/spotify.ts
Due: lint_frontend, prettier_frontend

feat: add dynamic url (localhost / prod) for spotify api redirect
  dfx.json
  src/smileyball_frontend/index.html
  src/smileyball_frontend/src/hooks/contests/useGetAllContests.ts
  src/smileyball_frontend/src/hooks/useSpotifyAuth.ts
  src/smileyball_frontend/src/pages/SpotifyAuthCallback.tsx
  src/smileyball_frontend/src/scripts/spotify.ts
Due: lint_frontend, prettier_frontend

Update backend_deployment.yml
  .github/workflows/backend_deployment.yml
Due: none

Update README.md
  README.md
Due: none

fix: config spotify redirect for prod/local env
  src/smileyball_frontend/src/pages/SpotifyAuthCallback.tsx
  src/smileyball_frontend/src/scripts/spotify.ts
Due: lint_frontend, prettier_frontend

fix: allow all Content-Security-Policy
  src/smileyball_frontend/index.html
Due: none

fix: post message verifier for spotify api
  src/smileyball_frontend/src/hooks/useSpotifyAuth.ts
  src/smileyball_frontend/src/pages/SpotifyAuthCallback.tsx
  src/smileyball_frontend/src/scripts/spotify.ts
Due: lint_frontend, prettier_frontend

fix: add .ic-assets to repository
  .gitignore
  src/smileyball_frontend/dist/.ic-assets.json5
Due: none

fix: remove ic-assets from repo
  .gitignore
  src/smileyball_frontend/package.json
  src/smileyball_frontend/src/scripts/modify_ic_assets.ts
Due: lint_frontend, prettier_frontend

Update frontend_deployment.yml
  .github/workflows/frontend_deployment.yml
Due: none

fix: npm run setup wrong file extension
  src/smileyball_frontend/package.json
Due: none

fix: change extension because github actions doesnt transpile ts scripts to js
  src/smileyball_frontend/package.json
  src/smileyball_frontend/src/scripts/modify_ic_assets.js
Due: lint_frontend, prettier_frontend

feat: separate postMessage and fetch profile. add StrictModeWrapper.tsx to avoid double rerenders on localhost.
  src/smileyball_frontend/package.json
  src/smileyball_frontend/src/components/StrictModeWrapper.tsx
  src/smileyball_frontend/src/components/index.tsx
  src/smileyball_frontend/src/hooks/useSpotifyAuth.ts
  src/smileyball_frontend/src/hooks/useSpotifyPostMessage.tsx
  src/smileyball_frontend/src/hooks/useSpotifyProfile.ts
  src/smileyball_frontend/src/main.tsx
  src/smileyball_frontend/src/modules/contestPage/AddSongs.tsx
  src/smileyball_frontend/src/pages/SpotifyAuthCallback.tsx
  src/smileyball_frontend/src/scripts/spotify.ts
  src/smileyball_frontend/src/scripts/utils.ts
Due: lint_frontend, prettier_frontend

fix: change protocol to https for prod
  src/smileyball_frontend/src/scripts/utils.ts
Due: lint_frontend, prettier_frontend

feat: change handling auth tokens from localstorage to cookies
  package-lock.json
  src/smileyball_frontend/package.json
  src/smileyball_frontend/src/features/contests/components/AddSongs.tsx
  src/smileyball_frontend/src/features/contests/components/SpotifyAuth.tsx
  src/smileyball_frontend/src/features/contests/components/SpotifyLogin.tsx
  src/smileyball_frontend/src/features/contests/components/SpotifySong.tsx
  src/smileyball_frontend/src/lib/api/spotifyConfig.ts
  src/smileyball_frontend/src/lib/components/SpotifyProfileTracks.tsx
  src/smileyball_frontend/src/lib/hooks/useError.ts
  src/smileyball_frontend/src/lib/hooks/useSpotifyAuth.ts
  src/smileyball_frontend/src/lib/hooks/useSpotifyCookies.tsx
  src/smileyball_frontend/src/lib/hooks/useSpotifyProfile.ts
  src/smileyball_frontend/src/lib/hooks/useSpotifyProfileTracks.ts
  src/smileyball_frontend/src/lib/hooks/useSpotifyTrackList.ts
  src/smileyball_frontend/src/lib/scripts/spotify.ts
  src/smileyball_frontend/src/lib/store/error.ts
  src/smileyball_frontend/src/lib/store/profile.ts
  src/smileyball_frontend/src/lib/store/profileTracks.ts
  src/smileyball_frontend/src/pages/SpotifyAuthCallback.tsx
Due: lint_frontend, prettier_frontend

fix: replace custom spotify fetch with spotify api client
  src/smileyball_frontend/src/features/contests/components/AddSongs.tsx
  src/smileyball_frontend/src/lib/api/spotifyConfig.ts
  src/smileyball_frontend/src/lib/components/SpotifyLogin.tsx
  src/smileyball_frontend/src/lib/hooks/useSpotifyTrackList.ts
Due: lint_frontend, prettier_frontend

feat: allow adding multiple songs to the contest, regardless of whether it includes a lobby
  src/smileyball_backend/src/contest/service/song_service.rs
Due: cargo_fmt, cargo_clippy

feat: init "one of x" fe
  src/smileyball_frontend/src/assets/images/cross.svg
  src/smileyball_frontend/src/features/contests/components/AddSongs.tsx
  src/smileyball_frontend/src/features/contests/components/CreateContestForm.tsx
  src/smileyball_frontend/src/features/contests/components/OneOfXForm.tsx
  src/smileyball_frontend/src/features/contests/components/SpotifySong.tsx
  src/smileyball_frontend/src/lib/components/SongsList.tsx
  src/smileyball_frontend/src/lib/components/SpotifyProfileTracks.tsx
  src/smileyball_frontend/src/lib/components/form/RadioButtons.tsx
  src/smileyball_frontend/src/lib/hooks/useNavBarData.tsx
  src/smileyball_frontend/src/lib/layout/navBar/NavBar.tsx
  src/smileyball_frontend/src/lib/layout/navBar/NavBarDesktop.tsx
  src/smileyball_frontend/src/lib/layout/navBar/NavBarMobile.tsx
  src/smileyball_frontend/src/lib/routing/router.tsx
  src/smileyball_frontend/src/pages/CreateContestPage/CreateContestPage.tsx
  src/smileyball_frontend/src/pages/Dashboard.tsx
  src/smileyball_frontend/src/pages/SongRequestPage.tsx
  src/smileyball_frontend/src/pages/index.tsx
Due: lint_frontend, prettier_frontend

fix: refactor frontend
  src/smileyball_frontend/src/features/contests/components/AddSong.tsx
  src/smileyball_frontend/src/features/contests/components/AddSongs.tsx
  src/smileyball_frontend/src/features/contests/components/Duration.tsx
  src/smileyball_frontend/src/features/contests/components/OneOfXForm.tsx
  src/smileyball_frontend/src/features/contests/components/SongListModule.tsx
  src/smileyball_frontend/src/features/contests/components/SpotifySong.tsx
  src/smileyball_frontend/src/features/contests/constants/contestInit.ts
  src/smileyball_frontend/src/features/contests/hooks/index.ts
  src/smileyball_frontend/src/features/contests/hooks/useContestForm.ts
  src/smileyball_frontend/src/features/contests/hooks/useCreateContest.ts
  src/smileyball_frontend/src/features/contests/hooks/useLastContest.ts
  src/smileyball_frontend/src/features/contests/hooks/useUpdateMinMaxSongs.tsx
  src/smileyball_frontend/src/features/contests/hooks/useUpdateOptionalStages.tsx
  src/smileyball_frontend/src/features/contests/store/contest.ts
  src/smileyball_frontend/src/lib/components/form/RadioButtons.tsx
  src/smileyball_frontend/src/lib/hooks/useSpotifyTrackList.ts
  src/smileyball_frontend/src/lib/store/profileTracks.ts
Due: lint_frontend, prettier_frontend

feat: refactor backend
  src/smileyball_backend/smileyball_backend.did
  src/smileyball_backend/src/contest/constants.rs
  src/smileyball_backend/src/contest/manager/contest_manager.rs
  src/smileyball_backend/src/contest/manager/finalization_manager.rs
  src/smileyball_backend/src/contest/manager/live_manager.rs
  src/smileyball_backend/src/contest/manager/lobby_manager.rs
  src/smileyball_backend/src/contest/manager/mod.rs
  src/smileyball_backend/src/contest/manager/vote_manager.rs
  src/smileyball_backend/src/contest/model/contest.rs
  src/smileyball_backend/src/contest/model/error.rs
  src/smileyball_backend/src/contest/model/live.rs
  src/smileyball_backend/src/contest/model/lobby.rs
  src/smileyball_backend/src/contest/model/mod.rs
  src/smileyball_backend/src/contest/model/stage.rs
  src/smileyball_backend/src/contest/model/vote.rs
  src/smileyball_backend/src/contest/router.rs
  src/smileyball_backend/src/contest/service/contest_service.rs
  src/smileyball_backend/src/contest/service/song_service.rs
  src/smileyball_backend/src/contest/service/vote_service.rs
  src/smileyball_backend/src/lib.rs
  src/smileyball_backend/src/management/mod.rs
  src/smileyball_backend/src/management/service.rs
  src/smileyball_backend/src/management/stages/common.rs
  src/smileyball_backend/src/management/stages/finished.rs
  src/smileyball_backend/src/management/stages/jury.rs
  src/smileyball_backend/src/management/stages/live.rs
  src/smileyball_backend/src/management/stages/lobby.rs
  src/smileyball_backend/src/management/stages/mod.rs
  src/smileyball_backend/src/management/stages/waiting.rs
  src/smileyball_frontend/src/features/contests/store/contestTracks.ts
Due: cargo_fmt, cargo_clippy, lint_frontend, prettier_frontend

feat: refactor frontend
  Cargo.lock
  src/smileyball_backend/Cargo.toml
  src/smileyball_backend/smileyball_backend.did
  src/smileyball_frontend/src/features/contests/components/AddSong.tsx
  src/smileyball_frontend/src/features/contests/components/Duration.tsx
  src/smileyball_frontend/src/features/contests/components/OneOfXForm.tsx
  src/smileyball_frontend/src/features/contests/components/SongListModule.tsx
  src/smileyball_frontend/src/features/contests/constants/contestInit.ts
  src/smileyball_frontend/src/features/contests/hooks/index.ts
  src/smileyball_frontend/src/features/contests/hooks/useContestForm.ts
  src/smileyball_frontend/src/features/contests/hooks/useUpdateMinMaxSongs.tsx
  src/smileyball_frontend/src/features/contests/hooks/useUpdateOptionalStages.tsx
  src/smileyball_frontend/src/features/contests/oneOfX/components/AddSongInputWithButton.tsx
  src/smileyball_frontend/src/features/contests/oneOfX/components/ContestListItem.tsx
  src/smileyball_frontend/src/features/contests/oneOfX/components/ContestsList.tsx
  src/smileyball_frontend/src/features/contests/oneOfX/components/Duration.tsx
  src/smileyball_frontend/src/features/contests/oneOfX/components/OneOfXForm.tsx
  src/smileyball_frontend/src/features/contests/oneOfX/components/SongListModule.tsx
  src/smileyball_frontend/src/features/contests/oneOfX/hooks/index.ts
  src/smileyball_frontend/src/features/contests/oneOfX/hooks/useContestDuration.ts
  src/smileyball_frontend/src/features/contests/oneOfX/hooks/useGetAllContests.ts
  src/smileyball_frontend/src/features/contests/oneOfX/hooks/useSpotifyTrackList.ts
  src/smileyball_frontend/src/features/contests/oneOfX/store/contestDuration.ts
  src/smileyball_frontend/src/features/contests/oneOfX/store/contestTracks.ts
  src/smileyball_frontend/src/features/contests/store/contest.ts
  src/smileyball_frontend/src/lib/components/SongsList.tsx
  src/smileyball_frontend/src/lib/components/form/Input.tsx
  src/smileyball_frontend/src/lib/components/form/RadioButtons.tsx
  src/smileyball_frontend/src/lib/hooks/index.ts
  src/smileyball_frontend/src/lib/hooks/useSpotifyAuth.ts
  src/smileyball_frontend/src/lib/hooks/useSpotifyPostMessage.tsx
  src/smileyball_frontend/src/lib/hooks/useSpotifyProfileTracks.ts
  src/smileyball_frontend/src/lib/routing/router.tsx
  src/smileyball_frontend/src/pages/HeroPage.tsx
Due: lint_frontend, prettier_frontend

Path conditions:
  cargo_fmt: any of: src/smileyball_backend/**/*.rs and ^src/smileyball_backend/
  cargo_clippy: any of: src/smileyball_backend/**/*.rs and ^src/smileyball_backend/
  lint_frontend: any of: src/smileyball_frontend/**/*.{js,ts,tsx} and ^src/smileyball_frontend/
  prettier_frontend: any of: src/smileyball_frontend/**/*.{js,ts,tsx,css,scss,html} and ^src/smileyball_frontend/
